format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$character"""

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"

[directory]
truncation_length = 3
truncate_to_repo = false
style = "bold cyan"
